.main {
    margin-left: 25%;
    width: 50%;
    box-shadow: 
        2px 2px 2px 1px rgba(0, 0, 0, 0.2),
        -2px -2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 3%;
    padding-top: 1%;
    padding-bottom: 2%;
    font-family: sans-serif;
}

h1, h2, .count {
    margin-left: 10%
}

.count {
    font-size: larger;
}

.count_value {
    font-weight: 600;
}